<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}"/>
        <!-- 注意上方引入方式 -->
   
</head>
<body>
    <header>
        <div class="logo">
            Belinda
        </div>
        <div class="nav">
            <a href="/About">About</a>
            <a href="/Contact">Contact</a>
        </div>
    </header>

    <div class="container">
        <h1>Welcome to {{ username }} Website</h1>
        <p>Today is {{ date }}</p>
        <img src="{{ url_for('static', filename='dist/assets/img/iarchery.jpg')}}">
        <!-- 注意上方引入方式 -->
    </div>

    <footer>
        © 2024 tw-csie-sprout/Python. All rights reserved.
    </footer>
</body>
</html>
